#home{
    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 485px;
}
#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 5px;
    height: auto;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#client-section ::before{
    height: 31%;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;

}